.lc-gradient {

  .colorWheel {
    margin: 0em auto;
    overflow: hidden;
    position: relative;
    width: 16em; height: 16em;
    background: linear-gradient(36deg, #272b66 42.34%, transparent 42.34%),
      linear-gradient(72deg, #2d559f 75.48%, transparent 75.48%),
      linear-gradient(-36deg, #9ac147 42.34%, transparent 42.34%) 100% 0,
      linear-gradient(-72deg, #639b47 75.48%, transparent 75.48%) 100% 0,
      linear-gradient(36deg, transparent 57.66%, #e1e23b 57.66%) 100% 100%,
      linear-gradient(72deg, transparent 24.52%, #f7941e 24.52%) 100% 100%,
      linear-gradient(-36deg, transparent 57.66%, #662a6c 57.66%) 0 100%,
      linear-gradient(-72deg, transparent 24.52%, #9a1d34 24.52%) 0 100%,
      #43a1cd linear-gradient(#ba3e2e, #ba3e2e) 50% 100%;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    animation: layer 10s infinite ease;
  }
  @keyframes layer {
    0% {
      background-position: -100% 0, -100% 0, 200% 0, 200% 0, 200% 100%, 200% 100%, -100% 100%, -100% 100%, 50% 200%;
    }
    10% {
      background-position: -100% 0, -100% 0, 200% 0, 200% 0, 200% 100%, 200% 100%, -100% 100%, -100% 100%, 50% 100%;
    }
    20% {
      background-position: -100% 0, -100% 0, 200% 0, 200% 0, 200% 100%, 200% 100%, -100% 100%, 0 100%, 50% 100%;
    }
    30% {
      background-position: -100% 0, -100% 0, 200% 0, 200% 0, 200% 100%, 200% 100%, 0 100%, 0 100%, 50% 100%;
    }
    40% {
      background-position: -100% 0, -100% 0, 200% 0, 200% 0, 200% 100%, 100% 100%, 0 100%, 0 100%, 50% 100%;
    }
    50% {
      background-position: -100% 0, -100% 0, 200% 0, 200% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 50% 100%;
    }
    60% {
      background-position: -100% 0, -100% 0, 200% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 50% 100%;
    }
    70% {
      background-position: -100% 0, -100% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 50% 100%;
    }
    80% {
      background-position: -100% 0, 0 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 50% 100%;
    }
    90%, 100% {
      background-position: 0 0, 0 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 50% 100%;
    }
  }

  .colorWheel:before {
    position: absolute;
    width: 100%; height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 10em white;
    opacity: .5;
    content: '';
  }
}
